div {
    height: 100px;
    width: 100px;
    background-color: blue;
    border-radius: 360px;
    position: absolute;
    top: 1px;
    display: flex;
    justify-content: center;
    animation-name: snake;
    animation-duration: 6s;
    animation-iteration-count: infinite;

}

@keyframes snake {
    0% {
        top: 0px;
    }

    50% {
        top: 400px;
    }

    100% {
        top: 0px;
    }

}

#d1 {
    animation-delay: 1s;
    left: 0px;
}

#d2 {
    animation-delay: 1.2s;
    left: 100px;
}

#d3 {
    animation-delay: 1.4s;
    left: 200px;
}

#d4 {
    animation-delay: 1.6s;
    left: 300px;
}

#d5 {
    animation-delay: 1.8s;
    left: 400px;
}

#d6 {
    animation-delay: 2s;
    left: 500px;
}

#d7 {
    animation-delay: 2.2s;
    left: 600px;
}

#d8 {
    animation-delay: 2.4s;
    left: 700px;
}

#d9 {
    animation-delay: 2.6s;
    left: 800px;
}

#d10 {
    animation-delay: 2.8s;
    left: 900px;
}

#d11 {
    animation-delay: 3s;
    left: 1000px;
}

#d12 {
    animation-delay: 3.2s;
    left: 1100px;
}

#d13 {
    animation-delay: 3.4s;
    left: 1200px;
}

#d14 {
    animation-delay: 3.6s;
    left: 1300px;
}

#d15 {
    animation-delay: 3.8s;
    left: 1400px;
}

#d16 {
    animation-delay: 4s;
    left: 1500px;
}

#d17 {
    animation-delay: 4.2s;
    left: 1600px;
}

#d18 {
    animation-delay: 4.4s;
    left: 1700px;
}

#d19 {
    animation-delay: 4.6s;
    left: 1800px;
}

#d20 {
    animation-delay: 4.8s;
    left: 1900px;
}

#d21 {
    animation-delay: 5s;
    left: 2000px;
}

#d22 {
    animation-delay: 5.2s;
    left: 2100px;
}