body{
    background-color: black;
}
#carouselExampleIndicators{
position: relative;
left: 150px;
}
#suma{
    height: 500px;
    width: 100%;
    background-image: url(https://akamaividz2.zee5.com/image/upload/w_1286,h_236,c_scale,f_webp,q_auto:eco/resources/0-6-4z5311140/homefeed_launcher_sticker/1312x312f0f3b262c0d7407f8ab773eeb3d4d60a.jpg);
    position: relative;
    background-repeat: no-repeat;
    top:30px
}
h5{
    color: white;
    position: relative;
    bottom: 200px;
}
div#image{
    /* height: 100px;
    width: 300px; */
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 180px;
    border-radius: 200px;
}
#demo1{
    position: relative;
}
#demo2{
    position: relative;
    left: 30px;
}
#demo3{
    position: relative;
    left: 40px;
}
#demo4{
    position: relative;
    left: 60px;
}
#demo5{
    position: relative;
    left: 80px;
}
#demo6{
    position: relative;
    left: 100px;
}
#demo7{
    position: relative;
    left:120px;
}
#demo8{
    background-color: black;
    outline: 2px groove white;
    width: 250px;
    height: 35px;
    position: relative;
    right: 60px;
}
#demo9{
    background-color: #8230c6;
    font-weight: bold;
    color: white;
    font-size: 12px;
    width: 100px;
    height: 35px;
    position: relative;
    right: 10px;
}
#demo10{
    position:relative;
    height: 35px;
    width: 80px;
    font-size: 13px;
    background-color: black;
    right: 30px;
    outline: 2px groove white;
    font-weight: bold;
    color: white;
}
#demo10:hover{
    background-color: white;
    color: black;
}

h4{
    color: white;
    position: relative;
    bottom: 150px;
}
div#movie{
    /* height: 100px;
    width: 300px; */
     display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 140px;
    /* border-radius: 600px; */
}
h3{
    color: white;
    position: relative;
    bottom: 120px;
}
div#kan{
    /* height: 100px;
    width: 300px; */
     display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 100px;
    /* border-radius: 600px; */
}
h1{
    color: white;
    position: relative;
    bottom: 80px;
}
div#web{
    /* height: 100px;
    width: 300px; */
     display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 50px;
    /* border-radius: 600px; */
}
h2{
    color: white;
    position: relative;
    bottom: 30px;
}
div#Explore{
    /* height: 100px;
    width: 300px; */
    display: flex;
    justify-content: space-around;
    position: relative;
   top: 10px;
 /*border-radius: 600px; */
}
#nav1{
position: relative;
bottom: -40px;
}
#tt{
    color: white;
    text-indent: 90px;
    font-size: 12px;
    position: relative;
    bottom: -60px;
    word-spacing: 15px;
    white-space: wrap;
    left: 10px;
    
}

#tt1{
    font-size: 12px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -80px;
}